{% load static %}
{% block headerinclude %}
<title>Melody</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- custom css -->
<!-- Jeffuu CSS and scripts -->
 <!--     Fonts and icons     -->
  <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- CSS Files -->
  <!-- <link href="{% static 'melody/css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'melody/css/gsdk-bootstrap-wizard.css' %}" rel="stylesheet">
  <!-- <link href="{% static 'melody/css/logo.css'  %}" rel="stylesheet"> -->
  <!--   Core JS Files   -->
  <script src="{% static 'melody/js/jquery-2.2.4.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'melody/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'melody/js/jquery.bootstrap.wizard.js' %} " type="text/javascript"></script>
  <!--  Plugin for the Wizard -->
  <script src="{% static 'melody/js/gsdk-bootstrap-wizard.js' %}"></script>
 <!--  More information about jquery.validate here: http://jqueryvalidation.org/  -->
  <script src="{% static 'melody/js/jquery.validate.min.js' %}"></script>
  <!-- Scripts --> 
<!-- /Jeffuu CSS and scripts -->
<link rel="stylesheet" type="text/css" href="{% static 'melody/css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'melody/css/table.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'melody/css/sidebar.css' %}">
<!-- css for datatable -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
<link src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js">
<script type="text/javascript" src="{% static 'melody/js/filterDate.js' %}"></script>
<style>.dropdown-button{cursor: pointer; border: none;}.dropdown-container {display: none; background-color: #262626;}
        .dropdown-container:active{background-color: #262626;} .line{ height:2px;border-width:0;color:gray;background-color:gray;}
        .logo-container{ width: 50px; height: 50px; margin-left: 3%;}a.buttonAdd:active, a.buttonAdd:hover {text-decoration: none;color: white; background-color: #6b22ff;}
        .table{text-align: center;}a.buttonAdd{background-color: #8a50ff;}
        input.display{background-color: white; padding: 2%; width: 350px; border-top: hidden; border-left: hidden; border-right: hidden; border-width: 1px;}
        .no-outline:focus{outline: none;} input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;  /*margin: 0;*/ }

        .btn{border-radius: 50px; padding-right: 18px; padding-left: 18px;}
        .btn:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); transition: 300ms;}
 thead{
    background-color: #5900B3; 
    color: white; 
    text-align: center;
}

.center-txt{
    text-align: center;
}

.btn-Add:hover{
    background-color: #5900B3; 
    color: white; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    transition: 300ms;
}

.btn-Add{
    background-color: white; 
    color: #5900B3; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    padding-left:14px; 
    padding-right: 18px; 
    font-size: 17px; 
    border-style:solid; 
    border-color: #5900B3; 
    border-radius: 50px; 
    border-width: 1px;
}

.txt{
    display:inline-block; 
    vertical-align: 3px; 
    margin-left: 5px;
}
</style>
{% endblock headerinclude %}
<!-- body -->
    <div class="container-fluid p-0">
        <!-- start of row -->
        <div class="row" id="body-row">
            <!-- start of sidebar -->
            <div id="sidebar-container" class="sidebar-expanded shadow">
            <div class="img-circle">
                {% if user.profilepicture.url is not null %}
                <img src="{{user.profilepicture.url}}" class="circle">
                {% else %}
                <img src="{% static 'melody/img/default-avatar.png' %}" class="circle">
                {% endif %}
            </div>
            <center><p style="color: #D1D1D1;; margin-top: 5%; margin-bottom: 10%;">Welcome, {{user.firstname}}!!!</p></center>
                <ul class="list-group">
                    <li class="list-group-item sidebar-separated-title d-flex">
                        <small style="color: #D1D1D1;">MAIN MENU</small>
                    </li>
                    <a class="bg-dark list-group-item list-group-item-action flex-column dropdown-button" style="font-size: 1.1rem;">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <span class="ml-3 mr-3"><i class="material-icons">&#xe871;</i></span>Dashboard
                                <span class="ml-3"><i class="material-icons">&#xe5c5;</i></span>
                            </div>
                    </a>
                    <div class="dropdown-container">
                        <a href="#" class="bg-dark list-group-item list-group-item-action flex-column"><span class="ml-5 mr-2"><i class="material-icons"  style="display: inline-block; vertical-align: -5px;">&#xe7fb;</i></span>Customer</a>
                        <a href="{% url 'melody:melody_productDashboard_view' %}" class="bg-dark list-group-item list-group-item-action flex-column"><span class="ml-5 mr-2"><i style='font-size:24px' class='fab'>&#xf1be;</i></span>Product</a>
                    </div>
                    <a href="#" class="bg-dark list-group-item list-group-item-action flex-column" style="font-size: 1.1rem;">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="ml-3 mr-3"><i class="material-icons">&#xe853;</i></span>Profile
                        </div>
                    </a>
                </ul>
                <ul class="list-group" style="margin-top: 25%;">
                    <a href="{% url 'melody:melody_index_view' %}" class="bg-dark list-group-item list-group-item-action flex-column" style="font-size: 1.1rem; border: none; color: #D1D1D1;">
                        <div class="d-flex w-100 justify-content-start align-items-center">
                            <span class="ml-5 mr-2"><i class="material-icons">&#xe879;</i></span>Log Out
                        </div>
                    </a>
                </ul>
            </div>
            <!-- end of sidebar -->

            <!-- start of contents -->
            <div class="col">
                <header>
                    <div class="row" style="margin-top: 1%; margin-bottom: 2%;">
                        <div class="logo-container"><img src="{% static 'melody/img/logo.png' %}" class="logo"></div>
                        <div class="col" style="margin-top: 1%; margin-right: -40%;"><h4>MELODY</h4></div>
                        <div class="col" style="margin-top: 2%;"><h3>CUSTOMER DASHBOARD</h3></div>
                    </div>       
                </header>
               <hr class="line">
               <p>
                <form id="date-filter" name="date-filter" method="POST">
                    {% csrf_token %}
                <span class="date-label">From: </span><input type="date" name = "datepicker_from" id="datepicker_from" style="margin-left: 5px;" value="">
                <span class="date-label" style="margin-left: 20px;">To:<input type="date" name = "datepicker_to" id="datepicker_to" style="margin-left: 5px;" value="">
                <span style="display:inline-block; vertical-align: 2px; margin-left: 10px;"><button type="submit" class="btn btn-outline-primary" id="btnFilter" name="btnFilter">Filter</button></span>
                <span style="display:inline-block; vertical-align: 2px; margin-left: 5px;"><a type="button" class="btn btn-outline-secondary" href="{% url 'melody:melody_customerDashboard_view' %}">Refresh</a></span>
                 <!-- <button type="submit" class="btn-Add" id="btnPlaylist" name="btnPlaylist">Add to Playlist</button> -->
            </form>
            </p>
            <p align="right">
                <!-- <span style="display:inline-block; vertical-align: 5px; margin-right: 10px;"><button type="button" class="btn btn-Excel" onclick="exportToExcel('data-table')">Export to Excel</button></span> -->
                <a type="button" class="btn-Add" href="{% url 'melody:melody_customerRegistration_view' %}"><i class="material-icons" style="font-size: 18px;">&#xe148;</i><span class="txt">Add Customer</span></a> 
            </p>
                <table class="table table-hover shadow" id="data-table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Birthdate</th>
                            <th scope="col">Email</th>
                            <th scope="col">Contact no.</th> 
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr>
                            <td>{{customer.firstname}}</td>
                            <td>{{customer.lastname}}</td>
                            <td>{{customer.birthday}}</td>
                            <td>{{customer.email}}</td>
                            <td>{{customer.contact}}</td>
                            <td><a data-toggle="modal" href="#" class="button" data-target="#modalView-{{customer.id}}"><i class="material-icons" style="color: black; font-size: 26px;">&#xe88f;</i></a>
                                <a data-toggle="modal" href="#" class="button" data-target="#modalDelete-{{customer.id}}"><i class="material-icons" style="color: red; font-size:28px;">&#xe92b;</i></a>
                            </td>
                        </tr>
                        <!-- modal for View -->
                        <div class="modal fade" id="modalView-{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header modal-view" style="background-color: #4D6AFF;">
                                <h5 class="modal-title w-100 text-center" id="exampleModalLabel" style="color: white;">Customer Information</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color: white;">&times;</span>
                                </button>
                                </div>
                                <form id="updateSong" method="POST" enctype="multipart/form-data">
                                {% csrf_token%}
                                <div class="modal-body">
                                    <div style="margin-left: 2%; margin-right: 2%;">
                                        <input type="text" name="customer-id" value = {{customer.id}} hidden>
                                        <!-- image update -->
                                <div class="card wizard-card" data-color="violet" id="wizardProfile">
                                    <div class="picture-container">
                                        <div class="picture" >
                                            <img src="{{customer.profilepicture.url}}" class="picture-src" id="wizardPicturePreview" title=""/>
                                            <input type="file" id="wizard-picture" name="profilepicture">
                                        </div>
                                      <h6>Choose Picture</h6>
                                    </div>
                                        <!-- /image update -->
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Customer Name</label>
                                                <input type="text" class="form-control" placeholder="Firstname" name="customer-fname" value="{{customer.firstname}}">
                                            </div>
                                            <div class="form-group col" style="margin-top: 32px;">
                                                <input type="text" class="form-control" placeholder="Lastname" name="customer-lname" value="{{customer.lastname}}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Birthday</label>
                                                <input type="date" class="form-control" name="customer-bday" value="{{customer.birthday}}">
                                            </div>
                                            <div class="form-group col">
                                                <label>Address</label>
                                                <input type="text" class="form-control" placeholder="Address" name="customer-add" value="{{customer.address}}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Email</label>
                                                <input type="email" class="form-control" placeholder="Email" name="customer-email" value="{{customer.email}}">
                                            </div>
                                            <div class="form-group col">
                                                <label>Contact no.</label>
                                                <input type="number" class="form-control" placeholder="Contact no." name="customer-contact" value="{{customer.contact}}" onkeypress="if (this.value.length==11) {return false}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center">
                                <button type="button" class="btn btn-outline-secondary shadow" data-dismiss="modal">Close</button>
                                <button type="submit" id="btnUpdate" name="btnUpdate" class="btn btn-outline-primary shadow">Update</button>
                                </div>
                            </div>
                            </form>
                             </div>
                            </div>
                        </div>
                        <!-- end of modal for View -->
                        
                        <!-- modal for Delete -->
                        <div class="modal fade" id="modalDelete-{{customer.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #E60000;">
                                <h5 class="modal-title w-100 text-center" id="exampleModalLabel" style="color: white;">Do you want to delete this record?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="color: white;">&times;</span>
                                </button>
                                </div>
                                <form id="updateSong" method="POST">
                                {% csrf_token%}
                                <div class="modal-body">
                                    <div style="margin-left: 2%; margin-right: 2%;">
                                        <input type="text" name="customer-id" value = {{customer.id}} hidden>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Customer Name</label><br>
                                                <input type="text" class="display no-outline" value="{{customer.firstname}}" readonly>
                                            </div>
                                            <div class="form-group col" style="margin-top: 32px;">
                                                <input type="text" class="display no-outline" value="{{customer.lastname}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Birthday</label><br>
                                                <input type="text" class="display no-outline" value="{{customer.birthday}}" readonly>
                                            </div>
                                            <div class="form-group col">
                                                <label>Address</label><br>
                                                <input type="text" class="display no-outline" value="{{customer.address}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col">
                                                <label>Email</label><br>
                                                <input type="text" class="display no-outline" value="{{customer.email}}" readonly>
                                            </div>
                                            <div class="form-group col">
                                                <label>Contact no.</label><br>
                                                <input type="text" class="display no-outline" value="{{customer.contact}}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button" class="btn btn-outline-secondary shadow" data-dismiss="modal">Cancel</button>
                                    <button type="submit" id="btnDelete" name="btnDelete" class="btn btn-outline-danger shadow">Delete</button>
                                </div>
                            </div>
                            </form>
                            </div>
                        </div>
                        <!-- end of modal for Delete -->
                        {% endfor %}
                    </tbody>
                </table>  
                 <!--end of datatable  -->
            </div>
            <!-- end of contents -->
        </div>
        <!-- end of row -->
    </div>
<!-- end of body -->
{% block footerinclude %}
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="{% static 'melody/js/datatable.js' %}"></script>
    <script>
        var dropdown = document.getElementsByClassName("dropdown-button");
        var i;
        for (i = 0; i < dropdown.length; i++) {
          dropdown[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var dropdownContent = this.nextElementSibling;
          if (dropdownContent.style.display === "block") {
          dropdownContent.style.display = "none";
          } else {
          dropdownContent.style.display = "block";
          }
          });
        }
    </script>
{% endblock footerinclude %}